<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is about page</title>
</head>
<body>
	<section>
		<div class="card">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				<!--Search  Functionality -->
				'
				<div class="search-container my-3">
					<input onkeyup="search()" id="search-input" type="text"
						class="form-control" placeholder="Search your contacts" />
					<div class="search-result">

						<!--Search Result goes here  -->


					</div>

				</div>

				<div class="table-responsive">

					<table class="table table-striped table-hover">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Id</th>

								<th scope="col">Name</th>

								<th scope="col">Email</th>

								<th scope="col">Phone</th>

								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${contacts}">
								<th th:text="${'SCM2020'+c.cId}" scope="row">1</th>
								<td><img class="my_profile_picture"
									th:src="@{'/img/'+${c.image}}" /> <span th:text=" ${c.name}"></span></td>
								<td><a th:href="@{ '/user/'+${c.cId}+'/contact'}"> <span
										th:text="${c.email}"></span>
								</a></td>
								<td th:text="${c.phone}"></td>
								<td><a href="#" th:onclick="|deleteContact(${c.cId})|"
									class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i>
										Delete
								</a>
									<form method="post" class="mt-2"
										th:action="@{'/user/update-contact/'+${c.cId}}">
										<button type="submit" class="btn btn-primary btn-sm">
											<i class="fas fa-user-edit"></i> Update
										</button>
									</form></td>
							</tr>

						</tbody>
					</table>
				</div>
				<!--  Pagination Part-->
				<nav aria-label="Page navigation example">


					<ul class="pagination">

						<li th:if="${currentPage!=0}" class="page-item"><a
							th:href="@{'/user/show-contacts/'+${currentPage-1}}"
							class="page-link" href="#">Previous</a></li>

						<li th:classappend="${currentPage==i-1? 'active':' '}"
							th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item"><a
							th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link"
							href="#"><span th:text="${i}"></span></a></li>


						<li th:if="${currentPage+1!=totalPages}" class="page-item"><a
							th:href="@{'/user/show-contacts/'+${currentPage+1}}"
							class="page-link" href="#">Next</a></li>

					</ul>
				</nav>

			</div>
		</div>
		     <script>
  	
  			    $('.item').removeClass('active');
  		      $('#contacts-link').addClass('active');
  			
    </script>
	</section>

</body>
</html>