<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
  <meta charset="ISO-8859-1">
  <title>This is about page</title>
</head>

<body>



  <section>
    <!-- Showcase -->
    <section id="showcase" class="py-5">
      <div class="primary-overlay text-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center">
              <h1 class="display-2 mt-5 pt-5">
                Smart Contact Manager...
              </h1>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur ratione quod nisi?
              </p>
              <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                <i class="fas fa-arrow-right"></i>Read More
              </a>
            </div>
            <div class="col-lg-6">
              <img src="../img/book.jpg" alt="" class="img-fluid d-none d-lg-block" />
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- BOXES -->

    <section id="boxes" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card text-center border-primary mb-resp">
              <div class="card-body">
                <h3 class="text-primary">Stay Up-To-Date</h3>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquid, blanditiis.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center bg-primary text-white mb-resp">
              <div class="card-body">
                <h3>Eliminate Duplicates</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquid, blanditiis.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center border-primary mb-resp">
              <div class="card-body">
                <h3 class="text-primary">Complete the Contact</h3>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquid, blanditiis.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center bg-primary text-white">
              <div class="card-body">
                <h3>Access Contacts Anywhere</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquid, blanditiis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About/Why Section -->
    <section id="about" class="py-5 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-5">
              <h1 class="text-primary pb-3">
                Why Smart Contact Manager?
              </h1>
              <p class="lead pb-3">
                The most intuitive contact management app for professionals, teams, and small businesses.
                Easily manage your relationships with Smart Contact Manager.

              </p>
            </div>

            <!-- ACCORDION -->
            <div id="accordion">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                      <i class="fas fa-arrow-circle-down"></i> Access Contacts Anywhere
                    </div>
                  </h5>
                </div>

                <div id="collapse1" class="collapse show">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illum excepturi quidem dignissimos repellat minima dolores
                    aliquam. Deleniti laboriosam voluptates aliquam quibusdam,
                    dolorum amet quis reiciendis odit dolorem cumque explicabo
                    tempora temporibus perspiciatis veniam animi obcaecati
                    exercitationem pariatur tenetur nisi, iste inventore.
                    Numquam ex optio possimus, exercitationem dolor vitae non
                    tempora?
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                      <i class="fas fa-arrow-circle-down"></i> Stay Up-To-Date
                    </div>
                  </h5>
                </div>

                <div id="collapse2" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illum excepturi quidem dignissimos repellat minima dolores
                    aliquam. Deleniti laboriosam voluptates aliquam quibusdam,
                    dolorum amet quis reiciendis odit dolorem cumque explicabo
                    tempora temporibus perspiciatis veniam animi obcaecati
                    exercitationem pariatur tenetur nisi, iste inventore.
                    Numquam ex optio possimus, exercitationem dolor vitae non
                    tempora?
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                      <i class="fas fa-arrow-circle-down"></i> Complete the Contact
                    </div>
                  </h5>
                </div>

                <div id="collapse3" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illum excepturi quidem dignissimos repellat minima dolores
                    aliquam. Deleniti laboriosam voluptates aliquam quibusdam,
                    dolorum amet quis reiciendis odit dolorem cumque explicabo
                    tempora temporibus perspiciatis veniam animi obcaecati
                    exercitationem pariatur tenetur nisi, iste inventore.
                    Numquam ex optio possimus, exercitationem dolor vitae non
                    tempora?
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Customer -->
    <section id="authors" class="my-5 text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-5">
              <h1 class="text-primary pb-3">
                Happy Customers!!
              </h1>
              <p class="lead">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam rem ratione ea est harum? Quibusdam.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img src="../img/person1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" />
                <h3>Susan Williams</h3>
                <h5 class="text-muted">susan.williiams@gmail.com</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                  doloribus iure sint odit minus sunt?
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://facebook.com">
                      <i class="fab fa-facebook"> </i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://instagram.com">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img src="../img/person2.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" />
                <h3>Grace Smith</h3>
                <h5 class="text-muted">grace.smith@gmail.com</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                  doloribus iure sint odit minus sunt?
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://facebook.com">
                      <i class="fab fa-facebook"> </i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://instagram.com">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img src="../img/person3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" />
                <h3>John Doe</h3>
                <h5 class="text-muted">john@gmail.com</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                  doloribus iure sint odit minus sunt?
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://facebook.com">
                      <i class="fab fa-facebook"> </i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://instagram.com">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <img src="../img/person4.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3" />
                <h3>Kevin Swanson</h3>
                <h5 class="text-muted">swansonkevin@gmail.com</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                  doloribus iure sint odit minus sunt?
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="http://facebook.com">
                      <i class="fab fa-facebook"> </i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://twitter.com">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="http://instagram.com">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Donate Module with Payment Integration -->
    <section id="contact" class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="text-center">
              <h3>Donate Us</h3>
            </div>
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda, aliquam?
            </p>
            <input required id="payment_field" type="number" class="form-control my-2" placeholder="Enter amount" />
            <div class="container text-center">
              <button onclick="paymentStart()" class="btn btn-success btn-block">Donate</button>
            </div>
          </div>
          <div class="col-lg-3 align-self-center">
            <img src="img/mlogo.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="main-footer" class="text-center py-5 bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 ml-auto">
            <p class="lead">copyright &copy:Smart Contact Manager <span id="year"></span></p>
          </div>
        </div>
      </div>
    </footer>
    <script>




      //first request-to server to create order
      const paymentStart = () => {
        let amount = $("#payment_field").val();

        if (amount == "" || amount == null) {
          swal("Required", "Please Enter Amount", "error");
          return;
        } else {
          console.log(amount)
          // we will use ajax to create order
          $.ajax({

            url: "/user/create_order",
            data: JSON.stringify({ amount: amount, info: "order_request" }),
            contentType: "application/json",
            type: "POST",
            dataType: "json",
            success: function (response) {
              //invoked when success
              //   alert("RESPONSE PRINTING");
              console.log(response)
              if (response.status == 'created') {
                //open payment form
                let options = {
                  key: 'rzp_test_4j9iMus0GGWqYS',
                  amount: response.amount,
                  currency: 'INR',
                  name: 'Smart Contact Manager',
                  description: 'Donation',
                  image:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-hqcXfRuMro-2kUOPl20JLF2i-aqh6YFK1eNEpVbPsqqkA7dMVMsCAo0IblGEQrtCX0M&usqp=CAU",
                  order_id: response.id,
                  handler: function (response) {
                	  console.log(response.razorpay_payment_id);
                    console.log(response.razorpay_order_id);
                    console.log(response.razorpay_signature);
                    //console.log('payment successfull!');

                    updatePaymentOnServer(response.razorpay_payment_id,response.razorpay_order_id, 'paid');


                  },
                  "prefill": {
                    "name": "",
                    "email": "",
                    "contact": ""
                  },
                  "notes": {
                    "address": "Smart Contact Manager"
                  },
                  "theme": {
                    "color": "#3399cc"
                  },
                };
                let rzp = new Razorpay(options);
                rzp.on('payement.failed', function (response) {
                  console.log(response.error.code);
                  console.log(response.error.description);
                  console.log(response.error.source);
                  console.log(response.error.step);
                  console.log(response.error.reason);
                  console.log(response.error.metadata.order_id);
                  console.log(response.error.metadata.payment_id);
                  swal("Failed", "Oops Donation Failed!", "error");
                });
                rzp.open();
              }
            },
            error: function (error) {
              //invoked when error
              console.log(error)
              swal("Failed", "Oops Donation Failed", "error");
            },
          });

        }
      }
      function updatePaymentOnServer(payment_id, order_id, status) {
        $.ajax({
          url: "/user/update_order",
          data: JSON.stringify({ payment_id: payment_id, order_id: order_id, status: status }),
          contentType: "application/json",
          type: "POST",
          dataType: "json",
          success: function (response) {
            swal("Thanks!!", "Donation Received Successfully", "success");
          },
          error: function (error) {
            swal("Failed", "Your payment is successfull, we will reach you soon!!", "error");
          },
        })
      };

    </script>

  </section>
  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $('#main-nav a').on('click', function (event) {
      if (this.hash !== '') {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate(
          {
            scrollTop: $(hash).offset().top,
          },
          800,
          function () {
            window.location.hash = hash;
          }
        );
      }
    });

    $('.item').removeClass('active');
    $('#home-link').addClass('active');



  </script>

</body>

</html>